// -----------------------------------------------------------------------------
// This file contains all styles related to the donate component.
// -----------------------------------------------------------------------------
.donate-banner {
  align-items: center;
  margin-bottom: 10px;
  top: -12px;

  .donate-icon {
    max-height: 5em;
  }

  .close-icon {
    max-height: 2.5em;
    margin-left: auto;
    cursor: pointer;
  }

  div {
    padding: 0 30px;
  }

  p {
    font-size: 16px;
  }

  @media (max-width: 767.98px) {
    text-align: center;

    .donate-icon {
      margin-bottom: 20px;
      display: inline;
    }

    .close-icon {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  @media (max-width: 991.98px) {
    top: -25px;
  }
}
