<template>
  <Layout>
    <div class="installer-homepage mt-5">
      <Installer />
      <Faq :faq-content="faq" />
    </div>
  </Layout>
</template>

<script>
import Installer from "~/components/Installer.vue";
import Faq from "~/components/Faq.vue";

export default {
  metaInfo: {
    title: "Downloads",
    meta: [
      {
        name: "keywords",
        content:
          "Ubuntu Touch, mobile, Linux, Android, privacy, smartphone, UBports, installer"
      },
      {
        name: "description",
        content:
          "Switch your devices to any platform. From Android to Ubuntu Touch, Asteroid OS, Sailfish and more..."
      },
      {
        property: "og:url",
        content: "https://installer.ubports.com"
      },
      {
        property: "og:title",
        content: "Downloads • Ubports Installer • Linux Phone"
      },
      {
        property: "og:description",
        content:
          "Switch your devices to any platform. From Android to Ubuntu Touch, Asteroid OS, Sailfish and more..."
      }
    ]
  },
  components: {
    Installer,
    Faq
  },
  data: function () {
    return {
      faq: [{ question: "What is the installer?", content: "An amazing tool" }]
    };
  }
};
</script>
